:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    
   
}


header .logo{
    margin-left: 20px;
    margin-right: 40px;
    color: var(--vermelho);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;

}


header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:azure;
}

header .busca{
    margin-left: 650px;
    margin-bottom: 10px;
}

header .icone-perfil{
    margin-left: 40px;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;

}





/*area principal*/

.area-principal{
    font-size: 16px;
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
}

.area-principal .container{
   margin-left: 40px; 
}

.area-principal .titulo{
    font-size: 30px;
}

.area-principal .descricao{
    margin-bottom: 20px;
    width: 500px;
}

.area-principal .descricao1{
    color:  #ccc;
    margin-bottom: 40px;

}

.botao{
    background-color: rgba(0,0,0,.50);
    padding: 15px 30px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: var(--preto);
}

.botao i{
    margin-right: 5px;
}

/*sagas*/

.box-sagas{
    height: 300px;
    display: block;
   
}

.titulo-sagas{
    color: #ccc;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.titulo-sagas:hover{
    color: white;
}


footer .container{
    border-top:solid 5px rgb(37, 37, 37);
    margin-top: 60px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}

footer nav a{
    position: left;
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
    margin-top: 30px;
}

footer nav a:hover{
    color:azure;
}



